<%- include("../includes/header.ejs", {title:"Race - " + result[0].Event_ID}); %>
<div class="center">
<h1>Races</h1>

<table border="1", align="center">
    <tr><th>Event</th><th>Position</th><th>Rider Number</th><th>Rider</th><th>Points</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><%= result[i].Event_Name%></td>
        <td><%= result[i].Position%></td>
        <td><%= result[i].Rider_Number%></td>
        <td><%= result[i].First_Name%> <%= result[i].Last_Name%></td>
        <td><%= result[i].Points %></td>
    </tr>
    <% } %>
    <a href="/race/all">Back to View All Race</a>
    <br />
    <a href="/" style="color: #0002ff;">Back to Main Page</a>
</table>
</div>
<%- include("../includes/footer.ejs"); %>